<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestelldetails</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="center-text">Bestelldetails</h1>

        <table class="order-details-table">
            <thead>
                <tr>
                    <th>Bestell-ID</th>
                    <th>Kunden-ID</th>
                    <th>Datum</th>
                    <th>Uhrzeit</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ order_details['order_id'] }}</td>
                    <td>{{ order_details['customer_id'] }}</td>
                    <td>{{ order_details['order_date'] }}</td>
                    <td>{{ order_details['order_time'] }}</td>
                    <td>{{ order_details['status'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

