<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Lieferspatz - Dashboard</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='Lieferspatz_Logo.svg')}}" alt="Lieferspatz Logo" class="center"/> 
            <br>
            <h1>Restaurant Dashboard</h1>
        </header>
        <div>
            <h2>{{ open_orders_count }}Neue Bestellungen</h2>
                <form action="/restaurant_neue_Bestellungen" method="post">
                    <button class="button" type="submit">Neue Bestellungen anzeigen</button>
                </form>
        </div>
        <div>
            <h2>Alle Bestellungen{{ open_orders_count }}</h2>
            <form action="/restaurant_alle_Bestellungen" method="post">
                <button class="button" type="submit">Bestellungen verwalten</button>
            </form>
        </div>
    
        <div>
            <h2>Speisekarte</h2>
            <form action="/edit_menu" method="get">
                <button class="button" type="submit">Speisekarte verwalten</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>