<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Lieferspatz - Speisekarte bearbeiten</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='Lieferspatz_Logo.svg')}}" alt="Lieferspatz Logo" class="center"/> 
            <br>
            <h1>Speisekarte bearbeiten</h1>
        </header>
        
(Bearbeitung der Speisekarte)

        <form action="/update_menu" method="post">
            <label for="dishName">Gerichtname:</label>
            <input type="text" id="dishName" name="dishName" required>
            
            <label for="description">Beschreibung:</label>
            <textarea id="description" name="description" required></textarea>

            <label for="price">Preis:</label>
            <input type="number" id="price" name="price" step="0.01" required>

            <button class="button" type="submit">Speise hinzufügen</button>
        </form>
    </div>
</body>
</html>