<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Lieferspatz -Neue Bestellungen</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='Lieferspatz_Logo.svg')}}" alt="Lieferspatz Logo" class="center"/> 
            <br>
            <h1>Neue Bestellungen</h1>
        </header>
        <div>
            <form action="{{ url_for('restaurant_neue_Bestellungen') }}" method="post">
                <ul>
                    {% for order in orders %}
                        <li>
                            {{ order.customer_name }} hat {{ order.item }} bestellt - Status: {{ order.status }}
                            <select name="new_status">
                                <option value="angenommen">Angenommen</option>
                                <option value="abgelehnt">Abgelehnt</option>
                                <option value="in Zubereitung">In Zubereitung</option>
                                <option value = "wird geliefert"> Wird geliefert</option>
                                <option value="geliefert">Geliefert</option>
                            </select>
                            <input type="hidden" name="order_id" value="{{ order.order_id }}">
                            <button type="submit">Status aktualisieren</button>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
</body>
</html>